.hidden {
   overflow: hidden;
}

.centrado {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #000000
}

.loader {
   position: relative;
   width: 11rem;
   height: 11rem;
   border-radius: 50%;
   background: linear-gradient(45deg, transparent, transparent 40%, #ec1839);
   animation: animate 2s linear infinite;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
   }
}

.loader:before {
   content: '';
   position: absolute;
   top: .42rem;
   left: .42rem;
   right: .42rem;
   bottom: .42rem;
   background-color: #000000;
   border-radius: 50%;
   z-index: 1000;
}

.loader:after {
   content: '';
   position: absolute;
   top: 0rem;
   left: 0rem;
   right: 0rem;
   bottom: 0rem;
   background: linear-gradient(45deg, transparent, transparent 40%, #ec1839);
   border-radius: 50%;
   z-index: 1000;
   z-index: 1;
   filter: blur(2.5rem);
}